<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<!-- v-show não remove o elemento da tela, apenas esconde-->
<div id="app">
        <template v-if="logado">
            <p>Usuário logado: {{ nome }}</p>
            <p>Perfil: Admim</p>
        </template>
    <p v-else-if="anonimo">Navegando como anonimo</p>
    <p v-else >Nenhum usuário logado</p>
    <button @click="logado = !logado" >{{ logado ? 'Sair' : 'Entrar' }}</button>
    <div v-show="!logado">
        <hr>
        <label>Anonimo</label>
        <input type="checkbox" v-model="anonimo">
    </div>
    <hr>
    <footer v-show="logado">
        Desenvolvido para você!
    </footer>

</div>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: "Juju",
            logado: false,
            anonimo: false
        }
    })
</script>